@import "_less.less";

section {
  margin-bottom: 2em;

  .section-title {
    background-color: @su-driftwood;
    margin-bottom: 0;
    padding: 0.5em;
    color: @text-color;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.top-stories {
  .background-gradient(@su-warm-gray-60, @su-warm-gray-90);
  width: 100%;
  .card{
    box-shadow:none;
  }
}

.spotlight {
  background: white;
  border-top: 1px solid #cdccc7;
  border-bottom: 1px solid #cdccc7;
  width: 100%;
  margin-top: -20px;
  padding-bottom: 2em;
}

h2.section-title {
  .font-size-em(32; 18);
  font-family: @font-family-serif;
  margin-top: 1.8em;
  margin-bottom: .8em;

  &#top-stories-headline{
    color: white;
  }
  &#spotlight-headline{
    color: @su-red;
  }
  &#more-stories-headline{
    color: @su-black;
  }
}

section#top-stories,
section#more-stories {

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {

  }

}

article{
  &.spotlight-story {
    min-height: 350px;//470//390
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
    //margin-left: 10px;
    //margin-right: 10px;
    figure img{
      float: none;
      clear: both;
      width: 100%;
      height: auto;

    }
    .image {
      width: 100%;
      height: auto;
    }
    .category {
      display: block;
      text-transform: uppercase;
      color: @su-red-text;
      font-size: 0.8em;
      font-weight: 600;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 2em;
    }

    h3 {
      .font-size-em(18);
      font-weight: 600;
      font-family: @font-family-serif;
      margin-top: 1em;
      margin-bottom: .4em;
      padding-left: 5px;
      padding-right: 5px;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    .teaser {
      .font-size-em(14px);
      font-weight: 400;
      font-family: @font-family-sans-serif;
      padding-left: 5px;
      padding-right: 5px;
      line-height: 1.3em;
    }
    .btn{
      background-color:transparent;
      border:1px solid @su-cool-gray;
      padding:12px;
      &:hover{
        color: white;
        background: @su-cool-gray;
        border-color: @su-cool-gray;
      }
    }
    
  }

}

#more-stories{
  //margin-bottom:6em;
  //.btn-su-alert{
    //position: absolute;
    //bottom:2em;
    //left:50%;
    //margin-left:-6em;
    //width:200px;
  //}
  .btn-su-alert{
    margin-top:1em;
  }
}



aside {

  ul {
    list-style: none;

    li {
      margin-bottom: 0.3em;

      &:before {
        content: ">";
        margin-left: -1.5em;
        margin-right: 1em;
      }
    }
  }

  #the-dish {
    #dish-logo {
      text-transform: uppercase;
      text-align: right;
      line-height: 1.3;
      margin-bottom: 0.75em;

      img {
        float: left;
      }
    }

    #dish-item {
      clear: both;

      img {
        float: right;
        margin-left: 1em;
        width: 80px;
      }
    }
    time {
      text-transform: uppercase;
    }
  }

  #weather-events {
    display: table;
    width: 100%;
    margin: -1em 0 2.5em;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    padding: 1em 0;

    #weather, #events {
      display: table-cell;
      width: 50%;
      text-align: center;
      vertical-align: middle;

      &:hover {
        background-color: white;
      }

      a {
        display: block;
        &:hover {
          text-decoration: none;
          color: inherit;
        }
      }
    }

    #weather {
      border-right: 1px solid #FFF;

      #weather-temp {
        font-size: 1.8em;
        font-weight: 600;
      }
    }

    #events {
      padding-top: 0.4em;

      p {
        margin-top: 0.6em;
      }
    }
  }

  #in-the-news {

    .news-source {
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0;
    }

  }

}


/////////////////////////////////
// media queries
@import "_home-responsive.less";
