@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);
/* line 11, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
a,
a:focus,
a:hover,
a:active {
  outline: 0 !important;
  text-decoration: none;
}
/* line 16, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
blockquote {
  border-left: 5px solid #e3dfd5;
}
/* line 20, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
dl {
  margin-top: 5px;
}
/* line 24, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}
/* line 27, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
h1 i,
h2 i,
h3 i,
h4 i,
h5 i,
h6 i {
  margin-right: 7px;
}
/* line 31, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
h1 {
  font-weight: 300;
}
/* line 35, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
li {
  line-height: 1.42857;
}
/* line 43, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.btn {
  line-height: 1.42867;
}
/* line 47, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.btn-one {
  background-color: #009b76;
  border-color: #008263;
  color: #ffffff;
  text-decoration: none;
}
/* line 38, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_less.less */
.btn-one:hover,
.btn-one:focus,
.btn-one:active {
  background-color: #00b489;
  border-color: #008263;
  color: #ffffff;
  text-decoration: none;
}
/* line 48, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.btn-two {
  background-color: #007c92;
  border-color: #006679;
  color: #ffffff;
  text-decoration: none;
}
/* line 38, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_less.less */
.btn-two:hover,
.btn-two:focus,
.btn-two:active {
  background-color: #0092ab;
  border-color: #006679;
  color: #ffffff;
  text-decoration: none;
}
/* line 49, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.btn-three {
  background-color: #4d5357;
  border-color: #414649;
  color: #ffffff;
  text-decoration: none;
}
/* line 38, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_less.less */
.btn-three:hover,
.btn-three:focus,
.btn-three:active {
  background-color: #596065;
  border-color: #414649;
  color: #ffffff;
  text-decoration: none;
}
/* line 51, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.btn-u {
  display: inline-block;
  position: relative;
  padding: 8px 13px;
  border: 0;
  cursor: pointer;
  background: #d5d0c0;
  color: #565347;
  font-size: 1.07143em;
  text-decoration: none;
  text-shadow: none;
}
/* line 63, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.btn-u:hover {
  color: #fbfbf9;
  background: #3f3c30;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 70, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.btn-u i {
  font-size: 1.13333em;
}
/* line 75, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.color-red {
  color: #820000;
}
/* line 79, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
#content {
  margin-bottom: 20px;
}
/* line 83, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.dropcap {
  float: left;
  font-size: 4em;
  margin: -25px 5px -25px 0;
  color: #aca68d;
}
/* line 91, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.event .timestamp {
  text-transform: uppercase;
}
/* line 96, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.info-box {
  margin: 30px 15px;
  display: table;
}
/* line 100, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.info-box .icon-container,
.info-box .text-container {
  display: table-cell;
  vertical-align: top;
  min-width: 50px;
}
/* line 106, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.info-box .text-container {
  padding-left: 15px;
}
/* line 110, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.info-box .offset {
  padding-left: 65px;
}
/* line 114, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.info-box i {
  color: #DAD7CB;
  margin: 0;
}
/* line 119, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.info-box h2 {
  color: #5f574f;
  font-size: 1.28571em;
  font-weight: normal;
  line-height: 1em;
  text-transform: uppercase;
}
/* line 127, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.info-box ul {
  padding-left: 0;
  list-style: none;
}
/* line 131, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.info-box ul li {
  margin-bottom: 10px;
  line-height: 1.2em;
}
/* line 138, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.lead {
  font-size: 1.42857em;
  line-height: 1.4;
  color: #3f3c30;
}
/* line 145, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.larger {
  font-size: 1.28571em;
  line-height: 1.11111;
  font-weight: 400;
}
/* line 152, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.margin-bottom-5 {
  margin-bottom: 5px;
  clear: both;
}
/* line 153, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.margin-bottom-10 {
  margin-bottom: 10px;
  clear: both;
}
/* line 154, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.margin-bottom-20 {
  margin-bottom: 20px;
  clear: both;
}
/* line 155, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.margin-bottom-25 {
  margin-bottom: 25px;
  clear: both;
}
/* line 156, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.margin-bottom-30 {
  margin-bottom: 30px;
  clear: both;
}
/* line 157, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.margin-bottom-40 {
  margin-bottom: 40px;
  clear: both;
}
/* line 158, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.margin-bottom-50 {
  margin-bottom: 50px;
  clear: both;
}
/* line 159, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.margin-bottom-60 {
  margin-bottom: 60px;
  clear: both;
}
/* line 161, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.more-link a,
a.more-link {
  font-weight: 600;
  font-size: .9em;
  padding-left: 0;
  padding-right: 20px;
  padding-top: 2px;
  display: inline;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 172, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.more-link a:hover,
a.more-link:hover {
  color: #820000;
}
/* line 176, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.more-link a i,
a.more-link i {
  color: #8c1515;
  font-size: 1.1em;
}
/* line 182, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.navbar {
  border: none;
}
/* line 186, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.postcard-left,
.postcard-right {
  clear: both;
  display: table;
  margin-bottom: 15px;
  position: relative;
}
/* line 190, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.postcard-left > div,
.postcard-right > div {
  display: table-cell;
  position: relative;
}
/* line 196, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
#su-content {
  overflow: visible;
  padding-bottom: 390px !important;
}
/* line 201, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
#su-wrap {
  overflow-x: hidden;
}
/* line 205, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
#top {
  min-height: 10px;
  padding: 4px 0 0;
  background-color: #8c1515;
  color: #8c1515;
}
/* line 212, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
ul.vbar {
  list-style: none;
  padding: 0;
}
/* line 216, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
ul.vbar li {
  display: inline-block;
  padding: 0 0.5em;
  border-right: 1px solid #5f574f;
}
/* line 221, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
ul.vbar li:first-of-type {
  padding-left: 0;
}
/* line 222, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
ul.vbar li:last-of-type {
  border-right: none;
}
/* line 225, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.well {
  box-shadow: none;
  border: medium none;
  border-radius: 10px 10px 10px 10px;
  padding: 20px;
}
/* line 231, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.well h2 {
  padding: 10px 0;
  font-size: 1.2em;
  text-transform: uppercase;
}
/* line 237, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.well h3 {
  font-size: 1em;
  text-transform: uppercase;
}
/* line 242, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.well ul {
  list-style: square;
}
/* line 246, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/base.less */
.well a {
  border-bottom: 1px dotted #827252 !important;
  text-decoration: none !important;
}
/*Header (logo and menu)
------------------------------------*/
/* line 3, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
#header {
  z-index: 999;
  padding: 12px 0 18px 0;
  background-color: #8c1515;
}
/* line 8, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
#logo {
  max-width: 360px;
  min-width: 300px;
}
/* Search */
/* line 14, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
.nav-search {
  float: right;
  margin: -65px 0 0 0;
  min-height: 1px;
}
/* line 20, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
#search-block-form {
  position: relative;
}
/* line 23, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
#search-field {
  width: 220px;
  height: 30px;
  padding: 4px 33px 4px 10px;
  border: 2px solid #e9e6df;
  border-radius: 8px;
  color: #5f574f;
}
/* line 31, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
#search-type label {
  margin-right: 1px;
  color: #e9e6df;
}
/* line 35, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
#search-type input[type="radio"] {
  margin-right: 8px;
}
/* line 39, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
#search-block-form #search-btn {
  position: absolute;
  top: .55em;
  right: 1em;
  color: #8a587d;
  cursor: pointer;
}
/* line 46, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
#search-block-form #search-btn:hover {
  opacity: 0.6;
}
/* Nav */
/* line 51, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
#mainmenu {
  background-color: #f2f1eb;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 -4px 8px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -4px 8px -2px rgba(0, 0, 0, 0.2);
}
/* line 56, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
#mainmenu ul {
  padding-left: 0;
}
/* line 60, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
.navbar {
  margin: 0;
  min-height: 2.3em;
}
/* line 64, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
.navbar .nav > li {
  display: block;
  position: relative;
  padding: 0 15px 0 0;
}
/* line 69, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
.navbar .nav > li:last-child {
  padding-right: 0;
}
/* line 73, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
.navbar .nav > li > a {
  font-size: 1.4em;
  font-weight: 300;
  padding: 5px 0 6px 0;
  margin-right: 30px;
  line-height: 1em;
}
/* line 82, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
.navbar .navbar-collapse {
  padding: 0;
  max-height: none;
}
/* line 88, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
#gateways li a:hover,
#gateways li a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  border-bottom: solid 2px #8c1515;
  padding-bottom: 4px;
  color: inherit;
}
/* line 96, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
.navbar .menu-text {
  display: none;
}
/*Gateways */
/* line 100, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
label[for=gateways] {
  text-transform: uppercase;
  display: none;
}
/* line 104, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
#gateways {
  margin: 0;
  padding-top: 5px;
  padding-right: 5px;
  z-index: 9999;
  list-style: none;
  position: relative;
}
/* line 112, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
#gateways li {
  display: inline;
  padding-bottom: 0;
  padding-right: 20px;
}
/* line 117, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
#gateways li a {
  font-size: .9em;
  text-transform: uppercase;
}
/* line 125, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
.nav-pills > li {
  border-radius: 6px;
  margin-right: 2px;
}
/* line 131, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_header.less */
body.about #nav-about a,
body.admission #nav-admission a,
body.academics #nav-academics a,
body.research #nav-research a,
body.campuslife #nav-campuslife a,
body.students #nav-students a,
body.facstaff #nav-facstaff a {
  color: #820000;
  font-weight: 400;
}
/* line 1, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_footer.less */
.footer {
  padding: 0 !important;
  position: relative;
  margin-top: -390px;
  min-height: 390px;
  clear: both;
  -webkit-box-shadow: 0 4px 8px -8px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 4px 8px -8px rgba(0, 0, 0, 0.2) inset;
  background-color: #f2f1eb;
}
/* line 10, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_footer.less */
.footer ul {
  padding-left: 0;
  margin: 0 0 10px 0;
  list-style: none;
}
/* line 15, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_footer.less */
.footer #footer-content {
  padding: 30px 0;
}
/* line 18, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_footer.less */
.footer h3 {
  color: #820000;
  font-size: 1em;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 600;
}
/* line 25, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_footer.less */
.footer p,
.footer a {
  color: #565347;
}
/* line 29, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_footer.less */
.footer a:hover {
  color: #820000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 34, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_footer.less */
.footer #hp-buttons ul {
  margin-bottom: 0;
}
/* line 37, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_footer.less */
.footer #hp-buttons ul li {
  margin-bottom: 5px;
}
/* line 40, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_footer.less */
.footer #hp-buttons ul li a {
  text-align: left;
}
/* line 43, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_footer.less */
.footer #hp-buttons ul li a:hover {
  color: white;
}
/* line 47, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_footer.less */
.footer #hp-buttons ul li a i {
  margin: 0 5px 0 10px;
}
/* Global Footer and Copyright*/
/* line 57, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_footer.less */
#global-footer {
  position: relative;
  margin-top: 0 !important;
  /* negative value of footer height */

  height: 120px;
  clear: both;
}
/* line 63, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_footer.less */
#global-footer #bottom-text ul {
  margin: 0;
}
/* line 66, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_footer.less */
#global-footer #bottom-text ul li a {
  font-size: 15px;
}
/* line 71, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_footer.less */
#global-footer p.copyright {
  color: #e3dfd5;
  padding: 0 15px;
  font-size: 13px;
}
/* line 76, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/_footer.less */
#global-footer p.timestamp {
  text-transform: uppercase;
}
/* line 3, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#content ul {
  padding-left: 0;
}
/* line 10, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner {
  clear: both;
  position: relative;
}
/* line 14, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner #browsable {
  position: relative;
  width: 100%;
  height: 425px;
  overflow: hidden;
}
/* line 21, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner #slides {
  width: 1000em;
  position: absolute;
  clear: both;
}
/* line 26, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner #slides .slide {
  height: 425px;
  width: auto;
  min-width: 1170px;
  float: left;
  position: relative;
}
/* line 36, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner a:active,
#feature-banner a:focus {
  outline: none;
}
/* line 39, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner a.browse {
  background: transparent url(../images/slides/arrows-30.png) no-repeat left top;
  display: block;
  width: 32px;
  height: 80px;
  margin: 40px 10px;
  cursor: pointer;
  font-size: 1px;
  z-index: 1;
  position: relative;
  border-bottom: 0;
}
/* line 51, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner a.browse.prev,
#feature-banner a.browse.next {
  display: block;
}
/* line 55, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner a.right {
  background-position: 0 -80px;
  position: absolute;
  right: 0;
  top: 140px;
}
/* line 61, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner a.right:hover {
  background-position: -32px -80px;
}
/* line 62, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner a.right:active {
  background-position: -64px -80px;
}
/* line 64, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner a.left {
  position: absolute;
  top: 140px;
}
/* line 68, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner a.left:hover {
  background-position: -32px 0;
}
/* line 69, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner a.left:active {
  background-position: -64px 0;
}
/* line 73, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner .navi {
  width: 80px;
  height: 20px;
  margin: auto;
  z-index: 1;
  margin-top: 5px;
}
/* line 80, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner .navi a {
  width: 12px;
  height: 12px;
  float: left;
  margin: 3px;
  background: url(../images/slides/navigator.png) no-repeat;
  display: block;
  font-size: 1px;
  border-bottom: 0;
  cursor: pointer;
}
/* line 91, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner .navi a:hover {
  background-position: 0 -12px;
}
/* line 92, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner .navi a.active {
  background-position: 0 -24px;
}
/* line 97, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner #slides a {
  border-bottom: none;
  color: #585754;
}
/* line 102, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner #slides img {
  margin: 0;
  padding: 0;
  width: 1170px;
  max-width: 1170px;
}
/* line 109, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner #slides .textblock {
  width: 250px;
  position: absolute;
  bottom: 40px;
  left: 90px;
}
/* line 116, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner #slides .videoblock {
  position: absolute;
  width: 560px;
  height: 315px;
  left: 450px;
  top: 55px;
  overflow: hidden;
  z-index: 2;
}
/* line 125, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner #slides .videoblock iframe,
#feature-banner #slides .video-container object,
#feature-banner #slides .video-container embed {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
/* line 137, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner #slides .bottom {
  bottom: 40px;
}
/* line 139, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner #slides h3 {
  font-size: 3.5em;
  font-weight: 400;
  color: #585754;
  line-height: 1em;
  letter-spacing: -0.02em;
  margin: 0 0 10px 0;
}
/* line 148, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner #slides p {
  color: #585754;
  font-size: 1.4em;
  line-height: 1.4em;
  font-weight: 300;
}
/* line 155, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner #slides .white {
  color: #fff;
}
/* line 156, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner #slides .sandstone {
  color: #ddcf99;
}
/* line 157, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner #slides .sandstone50 {
  color: #eee6cb;
}
/* line 158, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner #slides .sandstone25 {
  color: #f6f3e5;
}
/* line 159, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner #slides .red {
  color: #8c1515;
}
/* line 163, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner #feature-banner .disabled {
  background-color: #000;
}
/* line 166, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner #feature-banner .disabled .textblock,
#feature-banner #feature-banner .disabled .videoblock {
  display: none !important;
}
/* line 171, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#feature-banner #feature-banner .disabled img {
  opacity: 0.5;
  -webkit-filter: grayscale(50%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0.5\'/></filter></svg>#grayscale");
  /* Firefox 10+ */

  filter: #808080 alpha(opacity=50);
  /* IE6-9 */

}
/* line 185, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
.headline {
  display: block;
  margin: 10px 0 15px 0;
  border-bottom: 1px solid #d5d0c0;
}
/* line 190, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
.headline h2,
.headline h3,
.headline h4 {
  color: #5f574f;
  font-weight: 300;
  margin: 0 0 -2px 0;
  padding-right: 10px;
  display: inline-block;
}
/* line 200, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
.news-item .news-img {
  position: relative;
}
/* line 205, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
.news-item .news-text h3 {
  margin: 5px 0 5px 0;
  line-height: 1.3;
}
/* line 211, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
.news-item .news-text h3 a:hover {
  color: #8c1515;
  text-decoration: none;
}
/* line 221, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#more-news h4 {
  text-transform: uppercase;
  color: #820000;
  font-size: 1em;
  font-weight: 600;
  margin: 5px 0 10px 0;
}
/* line 229, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#more-news ul {
  margin: 0 0 10px 0;
}
/* line 232, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#more-news ul li {
  list-style-type: none;
  font-size: 1.15em;
  margin-bottom: 10px;
  line-height: 1.24224;
}
/* line 245, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#social-feature {
  font-family: "Source Sans Pro", Arial;
  background-color: #f2f1eb;
  border-radius: 4px;
  margin: 0;
  padding: 10px 0;
}
/* line 252, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#social-feature #tweet_info {
  padding: 0;
}
/* line 256, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#social-feature p,
#social-feature button {
  display: inline-block;
}
/* line 260, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#social-feature p {
  font-size: 1.3em;
  line-height: 1.4em;
  font-weight: 300;
  margin: 10px 10px 0 0;
  vertical-align: middle;
}
/* line 267, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#social-feature p.social-timestamp {
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2em;
  font-size: 1em;
  font-weight: 400;
}
/* line 277, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#social-feature button {
  color: #0098DB;
  background-color: #fbfbf9;
  margin-top:  0.3em;
}
/* line 285, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#social-icons {
  padding-right: 0;
}
/* line 288, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#social-icons ul {
  margin-top: 20px;
  margin-left: 0;
  list-style: none;
}
/* line 293, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#social-icons ul li {
  display: inline;
}
/* line 298, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#social-icons a:hover img {
  opacity: 0.6;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 308, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#at-stanford {
  padding-right: 10px;
}
/* line 311, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#at-stanford p {
  padding: 10px;
  background-color: #f2f1eb;
}
/* line 315, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#at-stanford p span {
  text-transform: uppercase;
  color: #820000;
  font-weight: 600;
  padding-right: 5px;
}
/* line 325, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
.dl-horizontal dt {
  overflow: visible;
}
/* This rule is read by Galleria to define the gallery height: */
/* line 329, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
.galleria-stage {
  /* modify line 17 of your galleria.classic.css stylesheet */

  top: 2px;
  left: 2px;
  bottom: 10px;
  /* define the bottom spacing, same as top/left/right */

}
/* line 334, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
.galleria-container {
  background: none;
}
/* line 343, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#event-list h4 {
  font-size: 15px;
}
/* line 347, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#event-list .event-date {
  vertical-align: top;
  width: 35px;
  padding-right: 15px;
}
/* line 352, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#event-list .event-date .event-month {
  padding-left: 3px;
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
  display: block;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 1px;
}
/* line 362, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#event-list .event-date .event-day {
  font-weight: 200;
  display: block;
  text-align: center;
  font-size: 2.1em;
  color: #820000;
  line-height: 0.8;
}
/* line 372, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#event-list .more-link {
  padding-left: 42px;
}
/* line 381, /Users/jbchrsty/repos/ucomm-bootstrap/ucomm/less/homepage.less */
#sports img {
  padding-right: 10px;
  vertical-align: top;
  width: 100px;
  display: inline-block;
}
