@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);
.container {
  padding: 0;
}
a,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
}
blockquote {
  border-left: 5px solid #e3dfd5;
}
dl {
  margin-top: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}
h1 i,
h2 i,
h3 i,
h4 i,
h5 i,
h6 i {
  margin-right: 7px;
}
h1 {
  font-weight: 300;
}
li {
  line-height: 1.42857;
}
.btn {
  line-height: 1.42867;
}
.btn-one {
  background-color: #009b76;
  border-color: #008263;
  color: #ffffff;
  text-decoration: none;
}
.btn-one:hover,
.btn-one:focus,
.btn-one:active {
  background-color: #00b489;
  border-color: #008263;
  color: #ffffff;
  text-decoration: none;
}
.btn-two {
  background-color: #007c92;
  border-color: #006679;
  color: #ffffff;
  text-decoration: none;
}
.btn-two:hover,
.btn-two:focus,
.btn-two:active {
  background-color: #0092ab;
  border-color: #006679;
  color: #ffffff;
  text-decoration: none;
}
.btn-three {
  background-color: #4d5357;
  border-color: #414649;
  color: #ffffff;
  text-decoration: none;
}
.btn-three:hover,
.btn-three:focus,
.btn-three:active {
  background-color: #596065;
  border-color: #414649;
  color: #ffffff;
  text-decoration: none;
}
.btn-u {
  display: inline-block;
  position: relative;
  padding: 8px 13px;
  border: 0;
  cursor: pointer;
  background: #d5d0c0;
  color: #565347;
  font-size: 1.07143em;
  text-decoration: none;
  text-shadow: none;
}
.btn-u:hover {
  color: #fbfbf9;
  background: #3f3c30;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-u i {
  font-size: 1.13333em;
}
.color-red {
  color: #820000;
}
#content {
  margin-bottom: 20px;
}
.dropcap {
  float: left;
  font-size: 4em;
  margin: -25px 5px -25px 0;
  color: #aca68d;
}
.event .timestamp {
  text-transform: uppercase;
}
#hero-image img {
  display: block;
  max-width: 100%;
  height: auto;
}
.info-box {
  margin: 30px 15px;
  display: table;
}
.info-box .icon-container,
.info-box .text-container {
  display: table-cell;
  vertical-align: top;
  min-width: 50px;
}
.info-box .text-container {
  padding-left: 15px;
}
.info-box .offset {
  padding-left: 65px;
}
.info-box i {
  color: #DAD7CB;
  margin: 0;
}
.info-box h2 {
  color: #5f574f;
  font-size: 1.28571em;
  font-weight: normal;
  line-height: 1em;
  text-transform: uppercase;
}
.info-box ul {
  padding-left: 0;
  list-style: none;
}
.info-box ul li {
  margin-bottom: 10px;
  line-height: 1.2em;
}
.lead {
  font-size: 1.42857em;
  line-height: 1.4;
  color: #3f3c30;
}
.larger {
  font-size: 1.28571em;
  line-height: 1.11111;
  font-weight: 400;
}
.margin-bottom-5 {
  margin-bottom: 5px;
  clear: both;
}
.margin-bottom-10 {
  margin-bottom: 10px;
  clear: both;
}
.margin-bottom-20 {
  margin-bottom: 20px;
  clear: both;
}
.margin-bottom-25 {
  margin-bottom: 25px;
  clear: both;
}
.margin-bottom-30 {
  margin-bottom: 30px;
  clear: both;
}
.margin-bottom-40 {
  margin-bottom: 40px;
  clear: both;
}
.margin-bottom-50 {
  margin-bottom: 50px;
  clear: both;
}
.margin-bottom-60 {
  margin-bottom: 60px;
  clear: both;
}
.more-link a,
a.more-link {
  font-weight: 600;
  font-size: .9em;
  padding-left: 0;
  padding-right: 20px;
  padding-top: 2px;
  display: inline;
  text-transform: uppercase;
  text-decoration: none;
}
.more-link a:hover,
a.more-link:hover {
  color: #820000;
}
.more-link a i,
a.more-link i {
  color: #8c1515;
  font-size: 1.1em;
}
.navbar {
  border: none;
}
.postcard-left,
.postcard-right {
  clear: both;
  display: table;
  margin-bottom: 15px;
  position: relative;
}
.postcard-left > div,
.postcard-right > div {
  display: table-cell;
  position: relative;
}
.postcard-left .postcard-image img,
.postcard-right .postcard-image img {
  display: block;
  max-width: 100%;
  height: auto;
}
#su-content {
  overflow: visible;
  padding-bottom: 390px !important;
}
#su-wrap {
  overflow-x: hidden;
}
#top {
  min-height: 10px;
  padding: 4px 0 0;
  background-color: #8c1515;
  color: #8c1515;
}
ul.vbar {
  list-style: none;
  padding: 0;
}
ul.vbar li {
  display: inline-block;
  padding: 0 0.5em;
  border-right: 1px solid #5f574f;
}
ul.vbar li:first-of-type {
  padding-left: 0;
}
ul.vbar li:last-of-type {
  border-right: none;
}
.well {
  box-shadow: none;
  border: medium none;
  border-radius: 10px 10px 10px 10px;
  padding: 20px;
}
.well h2 {
  padding: 10px 0;
  font-size: 1.2em;
  text-transform: uppercase;
}
.well h3 {
  font-size: 1em;
  text-transform: uppercase;
}
.well ul {
  list-style: square;
}
.well a {
  border-bottom: 1px dotted #827252;
  text-decoration: none;
}
/*Header (logo and menu)
------------------------------------*/
#skip a,
#skip a:hover,
#skip a:visited {
  position: absolute;
  left: 0px;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#skip a:active,
#skip a:focus {
  position: static;
  width: auto;
  height: auto;
  color: white;
}
#header {
  z-index: 999;
  padding: 12px 0 18px 0;
  background-color: #8c1515;
}
#logo {
  max-width: 360px;
  min-width: 300px;
}
/* Search */
.nav-search {
  float: right;
  margin: -65px 0 0 0;
  min-height: 1px;
}
#search-block-form {
  position: relative;
}
#search-field {
  width: 220px;
  height: 30px;
  padding: 4px 33px 4px 10px;
  border: 2px solid #e9e6df;
  border-radius: 8px;
  color: #5f574f;
}
#search-type label {
  margin-right: 1px;
  color: #e9e6df;
}
#search-type input[type="radio"] {
  margin-right: 8px;
}
#search-block-form #search-btn {
  position: absolute;
  top: .55em;
  right: 1em;
  color: #8a587d;
  cursor: pointer;
}
#search-block-form #search-btn:hover {
  opacity: 0.6;
}
/* Nav */
#mainmenu {
  background-color: #f2f1eb;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 -4px 8px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -4px 8px -2px rgba(0, 0, 0, 0.2);
}
#mainmenu ul {
  padding-left: 0;
}
.navbar {
  margin: 0;
  min-height: 2.3em;
}
.navbar .nav > li {
  display: block;
  position: relative;
  padding: 0 15px 0 0;
}
.navbar .nav > li:last-child {
  padding-right: 0;
}
.navbar .nav > li > a {
  font-size: 1.4em;
  font-weight: 300;
  padding: 5px 0 6px 0;
  margin-right: 30px;
  line-height: 1em;
}
.navbar .navbar-collapse {
  padding: 0;
  max-height: none;
}
#gateways li a:hover,
#gateways li a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  border-bottom: solid 2px #8c1515;
  padding-bottom: 4px;
  color: inherit;
}
.navbar .menu-text {
  display: none;
}
/*Gateways */
label[for=gateways] {
  text-transform: uppercase;
  display: none;
}
#gateways {
  margin: 0;
  padding-top: 5px;
  padding-right: 5px;
  z-index: 9999;
  list-style: none;
  position: relative;
}
#gateways li {
  display: inline;
  padding-bottom: 0;
  padding-right: 20px;
}
#gateways li a {
  font-size: .9em;
  text-transform: uppercase;
}
.nav-pills > li {
  border-radius: 6px;
  margin-right: 2px;
}
body.about #nav-about a,
body.admission #nav-admission a,
body.academics #nav-academics a,
body.research #nav-research a,
body.campuslife #nav-campuslife a,
body.students #nav-students a,
body.facstaff #nav-facstaff a {
  color: #820000;
  font-weight: 400;
}
.footer {
  padding: 0 !important;
  position: relative;
  margin-top: -390px;
  min-height: 390px;
  clear: both;
  -webkit-box-shadow: 0 4px 8px -8px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 4px 8px -8px rgba(0, 0, 0, 0.2) inset;
  background-color: #f2f1eb;
}
.footer ul {
  padding-left: 0;
  margin: 0 0 10px 0;
  list-style: none;
}
.footer ul.footer-list {
  padding-bottom: .4em;
}
.footer ul.footer-list li {
  line-height: 1.1;
  padding-bottom: .4em;
}
.footer #footer-content {
  padding: 30px 0;
}
.footer h3 {
  color: #820000;
  font-size: 1em;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 600;
}
.footer p,
.footer a {
  color: #565347;
}
.footer a:hover {
  color: #820000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.footer #hp-buttons ul {
  margin-bottom: 0;
}
.footer #hp-buttons ul li {
  margin-bottom: 5px;
}
.footer #hp-buttons ul li a {
  text-align: left;
}
.footer #hp-buttons ul li a:hover {
  color: white;
}
.footer #hp-buttons ul li a i {
  margin: 0 5px 0 10px;
}
/* Global Footer and Copyright*/
#global-footer {
  position: relative;
  margin-top: 0 !important;
  /* negative value of footer height */

  height: 120px;
  clear: both;
}
#global-footer #bottom-text ul {
  margin: 0;
}
#global-footer #bottom-text ul li a {
  font-size: 15px;
}
#global-footer p.copyright {
  color: #e3dfd5;
  padding: 0 15px;
  font-size: 13px;
}
#global-footer p.timestamp {
  text-transform: uppercase;
}
#content ul {
  padding-left: 0;
}
#feature-banner {
  clear: both;
  position: relative;
}
#feature-banner .item a {
  border-bottom: none;
  color: #585754;
}
#feature-banner .item img {
  margin: 0;
  padding: 0;
  width: 1170px;
  max-width: 1170px;
}
#feature-banner .item .carousel-caption {
  width: 250px;
  position: absolute;
  bottom: 20px;
  left: 90px;
  text-align: left;
}
#feature-banner .item .videoblock {
  position: absolute;
  width: 600px;
  height: 339px;
  left: 470px;
  top: 45px;
  overflow: hidden;
  z-index: 2;
}
#feature-banner .item .videoblock iframe,
#feature-banner .item .video-container object,
#feature-banner .item .video-container embed {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#feature-banner .item .bottom {
  bottom: 40px;
}
#feature-banner .item h3 {
  font-size: 3.5em;
  font-weight: 400;
  color: #585754;
  line-height: 1em;
  letter-spacing: -0.02em;
  margin: 0 0 10px 0;
}
#feature-banner .item p {
  color: #585754;
  font-size: 1.4em;
  line-height: 1.4em;
  font-weight: 300;
  text-shadow: none;
}
#feature-banner .item .white {
  color: #fff;
}
#feature-banner .item .sandstone {
  color: #ddcf99;
}
#feature-banner .item .sandstone50 {
  color: #eee6cb;
}
#feature-banner .item .sandstone25 {
  color: #f6f3e5;
}
#feature-banner .item .red {
  color: #8c1515;
}
#feature-banner .carousel-indicators {
  bottom: -40px;
}
#feature-banner .carousel-indicators .active {
  background-color: #8c1515;
  margin: 2px;
}
#feature-banner .carousel-indicators li {
  height: 12px;
  width: 12px;
  border-radius: 7px;
  border: 1px solid #8c1515;
  background-color: #fff;
  margin: 2px;
}
#feature-banner .carousel-indicators li:hover {
  background-color: #8c1515;
  cursor: pointer;
}
#feature-banner .carousel-control {
  background: none repeat scroll 0 0 #2e2d29;
  border: 3px solid #FFFFFF;
  border-radius: 25px;
  color: #FFFFFF;
  height: 45px;
  left: 15px;
  opacity: 0.5;
  top: 40%;
  width: 45px;
}
#feature-banner .carousel-control.right {
  right: 15px;
  left: auto;
}
.headline {
  display: block;
  margin: 10px 0 15px 0;
  border-bottom: 1px solid #d5d0c0;
}
.headline h2,
.headline h3,
.headline h4 {
  color: #5f574f;
  font-weight: 300;
  margin: 0 0 -2px 0;
  padding-right: 10px;
  display: inline-block;
}
.news-item .news-img {
  position: relative;
}
.news-item .news-text h3 {
  margin: 5px 0 5px 0;
  line-height: 1.3;
}
.news-item .news-text h3 a:hover {
  color: #8c1515;
  text-decoration: none;
}
#more-news h4 {
  text-transform: uppercase;
  color: #820000;
  font-size: 1em;
  font-weight: 600;
  margin: 5px 0 10px 0;
}
#more-news ul {
  margin: 0 0 10px 0;
}
#more-news ul li {
  list-style-type: none;
  font-size: 1.15em;
  margin-bottom: 15px;
  line-height: 1.24224;
}
#social-feature {
  font-family: "Source Sans Pro", Arial;
  background-color: #f2f1eb;
  border-radius: 4px;
  margin: 0;
  padding: 10px 0;
}
#social-feature #tweet_info {
  padding: 0;
}
#social-feature p,
#social-feature button {
  display: inline-block;
}
#social-feature p {
  font-size: 1.3em;
  line-height: 1.4em;
  font-weight: 300;
  margin: 10px 10px 0 0;
  vertical-align: middle;
}
#social-feature p.social-timestamp {
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2em;
  font-size: 1em;
  font-weight: 400;
}
#social-feature button {
  color: #0098DB;
  background-color: #fbfbf9;
  margin-top:  0.3em;
}
#social-icons {
  padding-right: 0;
}
#social-icons ul {
  margin-top: 20px;
  margin-left: 0;
  list-style: none;
}
#social-icons ul li {
  display: inline;
}
#social-icons a:hover img {
  opacity: 0.6;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#at-stanford {
  padding-right: 10px;
}
#at-stanford p {
  padding: 10px;
  background-color: #f2f1eb;
}
#at-stanford p span {
  text-transform: uppercase;
  color: #820000;
  font-weight: 600;
  padding-right: 5px;
}
.dl-horizontal dt {
  overflow: visible;
}
/* This rule is read by Galleria to define the gallery height: */
.galleria-stage {
  /* modify line 17 of your galleria.classic.css stylesheet */

  top: 2px;
  left: 2px;
  bottom: 10px;
  /* define the bottom spacing, same as top/left/right */

}
.galleria-container {
  background: none;
}
#event-list h3,
#event-list h4 {
  font-size: 15px;
}
#event-list .event-date {
  vertical-align: top;
  width: 45px;
  padding-right: 15px;
}
#event-list .event-date .event-month {
  padding-left: 3px;
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
  display: block;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 1px;
}
#event-list .event-date .event-day {
  font-weight: 200;
  display: block;
  text-align: center;
  font-size: 2.1em;
  color: #820000;
  line-height: 0.8;
}
#event-list .more-link {
  padding-left: 42px;
}
#sports h3 {
  font-size: 18px;
}
#sports img {
  padding-right: 10px;
  vertical-align: top;
  width: 100px;
  display: inline-block;
}
