.small-square {
  color: #5f574f;
  position: absolute;
  top: 0;
  margin: 0 0 0 -15px;
  content: '\25AA';
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
  #header .container {
    padding: 0 10px;
  }
  #body .container {
    padding: 0 20px;
  }
  #body .container:first-child {
    padding: 0;
  }
  #logo {
    max-width: 300px;
  }
  #search-block-form #search-field {
    width: 175px;
    font-size: 0.85714em;
  }
  #search-block-form .btn-search {
    width: 22px;
    height: 22px;
    top: 5px;
    right: 5px;
  }
  #footer .container {
    padding: 0 20px !important;
  }
  #footer ul.footer-list {
    margin-bottom: 40px;
  }
  #footer ul.footer-list li {
    font-size: 1.3em;
    margin-bottom: 10px;
  }
  #footer .block h3 {
    border-bottom: 1px solid #8c1515;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 1.1em;
  }
  #footer #hp-buttons {
    margin-top: 20px;
  }
  #footer #hp-buttons .btn-u i {
    font-size: 1.78571em;
    margin: 0 10px;
  }
  #footer p.copyright {
    padding-top: 25px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-1-4 {
    float: left;
    width: 18%;
    margin-right: 2%;
  }
  .footer #hp-buttons {
    clear: both;
  }
  .footer #hp-buttons ul li {
    display: inline;
  }
  .footer #hp-buttons ul li a {
    width: 19%;
  }
  .footer #hp-buttons ul li a i {
    display: block;
    margin: 0 auto 5px;
    text-align: center;
  }
  .footer #hp-buttons ul li a span {
    display: block;
    text-align: center;
    font-size: .9em;
    line-height: 1;
  }
}
@media (max-width: 991px) {
  .container {
    padding: 0 15px;
  }
  #primary-nav {
    padding-left: 0.5em;
  }
  #gateway-nav {
    padding: 0.5em 0;
    background-color: #fbfbf9;
  }
  .navbar {
    margin: 5px 0 3px 0;
    /*Gateways */
  
  }
  .navbar .menu-text {
    display: inline;
    text-transform: uppercase;
    left: 50px;
    margin-top: 7px;
    position: absolute;
    color: #820000;
    font-size: 0.85em;
    font-weight: 700;
  }
  .navbar .navbar-toggle {
    background-color: #8c1515;
    border: none;
    float: none;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 1px;
    padding: 7px 10px;
  }
  .navbar .navbar-toggle span.icon-bar {
    background-color: white;
  }
  .navbar .nav-search {
    float: right;
    margin: 0;
    min-height: 1px;
    padding: 0;
  }
  .navbar .nav-search #search-type label {
    color: #5f574f;
    font-weight: 400;
  }
  .navbar .navbar-collapse {
    width: 100%;
  }
  .navbar .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar .nav {
    margin: 8px 0 15px 0;
  }
  .navbar .nav > li {
    display: block;
    padding-right: 0;
  }
  .navbar .nav > li > a,
  .navbar .nav > li > a:focus,
  .navbar .nav > li > a:hover {
    display: block;
    border-radius: 3px;
    padding: 9px 15px;
    margin-right: 0;
    width: 100%;
  }
  .navbar .nav > li > a:hover {
    background-color: #fbfbf9;
    border-bottom: none;
  }
  .navbar #gateway-nav {
    width: 100%;
    margin-bottom: 15px;
  }
  .navbar #gateway-nav label[for=gateways] {
    display: block;
    margin-bottom: 0;
    padding-left: 15px;
    color: #820000;
    font-size: 0.85em;
    font-weight: 700;
    cursor: pointer;
  }
  .navbar #gateway-nav label[for=gateways] span {
    padding: 0 0.5em;
    font-size: 1.5em;
  }
  .navbar #gateways {
    margin: 0 0 0 1.4em;
    list-style: none;
    position: relative;
    display: none;
  }
  .navbar #gateways.pull-right {
    float: none !important;
  }
  .navbar #gateways li {
    display: block;
    list-style: none;
  }
  .navbar #gateways li a {
    font-size: 0.85em;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    border-radius: 3px;
    padding: 9px 15px;
  }
  .navbar #gateways li a:focus,
  .navbar #gateways li a:hover {
    text-decoration: none;
    background-color: #f2f1eb;
    border-bottom: none;
    padding-bottom: 9px;
  }
  .navbar #gateways li a:hover {
    background-color: #fbfbf9;
    border-bottom: none;
  }
  .footer ul.footer-list {
    padding-bottom: 0;
  }
  .footer ul.footer-list li {
    padding-bottom: 0;
  }
}
@media (min-width: 992px) {
  #gateways li:last-child {
    padding-right: 0;
  }
  .two-column {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar .nav > li {
    padding: 0 10px 0 0;
  }
  .navbar .nav > li > a {
    font-size: 1.3em;
  }
  #gateways li {
    padding-right: 10px;
  }
  #gateways li a {
    font-size: .8em;
  }
}
@media (min-width: 1200px) {
  
}
@media (max-width: 767px) {
  
}
@media (max-width: 991px) {
  
}
@media (min-width: 768px) and (max-width: 991px) {
  
}
@media (min-width: 992px) {
  
}
@media (min-width: 992px) and (max-width: 1199px) {
  
}
@media (min-width: 1200px) {
  
}
