@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);
.container {
  padding: 0;
}
a,
a:hover,
a:active {
  outline: 0;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
}
blockquote {
  border-left: 5px solid #e3dfd5;
}
dl {
  margin-top: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}
h1 i,
h2 i,
h3 i,
h4 i,
h5 i,
h6 i {
  margin-right: 7px;
}
h1 {
  font-weight: 300;
}
li {
  line-height: 1.42857;
}
.btn {
  line-height: 1.42867;
}
.btn-one {
  background-color: #009b76;
  border-color: #008263;
  color: #ffffff;
  text-decoration: none;
}
.btn-one:hover,
.btn-one:focus,
.btn-one:active {
  background-color: #00b489;
  border-color: #008263;
  color: #ffffff;
  text-decoration: none;
}
.btn-two {
  background-color: #007c92;
  border-color: #006679;
  color: #ffffff;
  text-decoration: none;
}
.btn-two:hover,
.btn-two:focus,
.btn-two:active {
  background-color: #0092ab;
  border-color: #006679;
  color: #ffffff;
  text-decoration: none;
}
.btn-three {
  background-color: #4d5357;
  border-color: #414649;
  color: #ffffff;
  text-decoration: none;
}
.btn-three:hover,
.btn-three:focus,
.btn-three:active {
  background-color: #596065;
  border-color: #414649;
  color: #ffffff;
  text-decoration: none;
}
.btn-u {
  display: inline-block;
  position: relative;
  padding: 8px 13px;
  border: 0;
  cursor: pointer;
  background: #d5d0c0;
  color: #565347;
  font-size: 1.07143em;
  text-decoration: none;
  text-shadow: none;
}
.btn-u:hover {
  color: #fbfbf9;
  background: #3f3c30;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-u i {
  font-size: 1.13333em;
}
.color-red {
  color: #820000;
}
#content {
  margin-bottom: 20px;
}
.dropcap {
  float: left;
  font-size: 4em;
  margin: -25px 5px -25px 0;
  color: #aca68d;
}
.event .timestamp {
  text-transform: uppercase;
}
#hero-image img {
  display: block;
  max-width: 100%;
  height: auto;
}
.info-box {
  margin: 30px 15px;
  display: table;
}
.info-box .icon-container,
.info-box .text-container {
  display: table-cell;
  vertical-align: top;
  min-width: 65px;
}
.info-box .text-container {
  padding-left: 15px;
}
.info-box .offset {
  padding-left: 65px;
}
.info-box i {
  color: #DAD7CB;
  margin: 0;
}
.info-box h2 {
  color: #5f574f;
  font-size: 1.28571em;
  font-weight: normal;
  line-height: 1.2em;
  padding: 5px 0;
  text-transform: uppercase;
}
.info-box ul {
  padding-left: 0;
  list-style: none;
}
.info-box ul li {
  line-height: 1.1em;
  margin-bottom: 5px;
}
.info-box dt {
  font-size: 1.1em;
}
.info-box dt a,
.info-box li a {
  text-decoration: none;
}
.info-box dt a:hover,
.info-box li a:hover,
.info-box dt a:active,
.info-box li a:active {
  text-decoration: underline;
}
.lead {
  font-size: 1.42857em;
  line-height: 1.4;
  color: #3f3c30;
}
.larger {
  font-size: 1.28571em;
  line-height: 1.11111;
  font-weight: 400;
}
.margin-bottom-5 {
  margin-bottom: 5px;
  clear: both;
}
.margin-bottom-10 {
  margin-bottom: 10px;
  clear: both;
}
.margin-bottom-20 {
  margin-bottom: 20px;
  clear: both;
}
.margin-bottom-25 {
  margin-bottom: 25px;
  clear: both;
}
.margin-bottom-30 {
  margin-bottom: 30px;
  clear: both;
}
.margin-bottom-40 {
  margin-bottom: 40px;
  clear: both;
}
.margin-bottom-50 {
  margin-bottom: 50px;
  clear: both;
}
.margin-bottom-60 {
  margin-bottom: 60px;
  clear: both;
}
.more-link a,
a.more-link {
  font-weight: 600;
  font-size: .9em;
  padding-left: 0;
  padding-right: 20px;
  padding-top: 2px;
  display: inline;
  text-transform: uppercase;
  text-decoration: none;
}
.more-link a:hover,
a.more-link:hover {
  color: #820000;
}
.more-link a i,
a.more-link i {
  color: #8c1515;
  font-size: 1.1em;
}
.navbar {
  border: none;
}
.postcard-left,
.postcard-right {
  clear: both;
  display: table;
  margin-bottom: 15px;
  position: relative;
}
.postcard-left > div,
.postcard-right > div {
  display: table-cell;
  position: relative;
}
.postcard-left .postcard-image img,
.postcard-right .postcard-image img {
  display: block;
  max-width: 100%;
  height: auto;
}
#su-content {
  overflow: visible;
  padding-bottom: 390px !important;
}
#su-wrap {
  overflow-x: hidden;
}
#top {
  min-height: 10px;
  padding: 4px 0 0;
  background-color: #8c1515;
  color: #8c1515;
}
ul.vbar {
  list-style: none;
  padding: 0;
}
ul.vbar li {
  display: inline-block;
  padding: 0 0.5em;
  border-right: 1px solid #5f574f;
}
ul.vbar li:first-of-type {
  padding-left: 0;
}
ul.vbar li:last-of-type {
  border-right: none;
}
.well {
  box-shadow: none;
  border: medium none;
  border-radius: 10px 10px 10px 10px;
  padding: 20px;
}
.well h2 {
  padding: 10px 0;
  font-size: 1.2em;
  text-transform: uppercase;
}
.well h3 {
  font-size: 1em;
  text-transform: uppercase;
}
.well ul {
  list-style: square;
}
.well a {
  border-bottom: 1px dotted #827252;
  text-decoration: none;
}
.well .more-link {
  text-align: right;
}
.well .more-link a {
  padding-right: 0;
  border-bottom: none;
  color: #5f574f;
  font-size: .9em;
  font-weight: 600;
}
.well .more-link a:hover,
.well .more-link a:active {
  color: #820000;
}
/*Header (logo and menu)
------------------------------------*/
#skip a,
#skip a:hover,
#skip a:visited {
  position: absolute;
  left: 0px;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#skip a:active,
#skip a:focus {
  position: static;
  width: auto;
  height: auto;
  color: white;
}
#header {
  z-index: 999;
  padding: 12px 0 18px 0;
  background-color: #8c1515;
}
#logo {
  max-width: 360px;
  min-width: 300px;
}
#header a,
#mainmenu a {
  text-decoration: none;
}
/* Search */
.nav-search {
  float: right;
  margin: -65px 0 0 0;
  min-height: 1px;
}
#search-block-form {
  position: relative;
}
#search-field {
  width: 220px;
  height: 30px;
  padding: 4px 33px 4px 10px;
  border: 2px solid #e9e6df;
  border-radius: 8px;
  color: #5f574f;
}
#search-type label {
  margin-right: 1px;
  font-weight: 400;
  color: #e9e6df;
}
#search-type input[type="radio"] {
  margin-right: 8px;
}
#search-block-form #search-btn {
  position: absolute;
  top: .55em;
  right: 1em;
  color: #3f3c30;
  cursor: pointer;
}
#search-block-form #search-btn:hover {
  opacity: 0.6;
}
/* Nav */
#mainmenu {
  background-color: #f2f1eb;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 -4px 8px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -4px 8px -2px rgba(0, 0, 0, 0.2);
}
#mainmenu ul {
  padding-left: 0;
}
.navbar {
  margin: 0;
  min-height: 2.3em;
}
.navbar .nav > li {
  display: block;
  position: relative;
  padding: 0 15px 0 0;
}
.navbar .nav > li:last-child {
  padding-right: 0;
}
.navbar .nav > li > a {
  font-size: 1.4em;
  font-weight: 300;
  padding: 5px 0 6px 0;
  margin-right: 30px;
  line-height: 1em;
}
.navbar .navbar-collapse {
  padding: 0;
  max-height: none;
}
#gateways li a:hover,
#gateways li a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  border-bottom: solid 2px #8c1515;
  padding-bottom: 4px;
  color: inherit;
}
.navbar .menu-text {
  display: none;
}
/*Gateways */
label[for=gateways] {
  text-transform: uppercase;
  display: none;
}
#gateways {
  margin: 0;
  padding-top: 5px;
  padding-right: 5px;
  z-index: 9999;
  list-style: none;
  position: relative;
}
#gateways li {
  display: inline;
  padding-bottom: 0;
  padding-right: 20px;
}
#gateways li a {
  font-size: .9em;
  text-transform: uppercase;
}
.nav-pills > li {
  border-radius: 6px;
  margin-right: 2px;
}
body.about #nav-about a,
body.admission #nav-admission a,
body.academics #nav-academics a,
body.research #nav-research a,
body.campuslife #nav-campuslife a,
body.students #nav-students a,
body.facstaff #nav-facstaff a {
  color: #820000;
  font-weight: 400;
}
.footer {
  padding: 0 !important;
  position: relative;
  margin-top: -390px;
  min-height: 390px;
  clear: both;
  -webkit-box-shadow: 0 4px 8px -8px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 4px 8px -8px rgba(0, 0, 0, 0.2) inset;
  background-color: #f2f1eb;
}
.footer ul {
  padding-left: 0;
  margin: 0 0 10px 0;
  list-style: none;
}
.footer ul.footer-list {
  padding-bottom: .4em;
}
.footer ul.footer-list li {
  line-height: 1.1;
  padding-bottom: .4em;
}
.footer #footer-content {
  padding: 30px 0;
}
.footer h3 {
  color: #820000;
  font-size: 1em;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 600;
}
.footer p,
.footer a {
  color: #565347;
}
.footer a {
  text-decoration: none;
}
.footer a:hover {
  color: #820000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.footer #hp-buttons ul {
  margin-bottom: 0;
}
.footer #hp-buttons ul li {
  margin-bottom: 5px;
}
.footer #hp-buttons ul li a {
  text-align: left;
}
.footer #hp-buttons ul li a:hover {
  color: white;
}
.footer #hp-buttons ul li a i {
  margin: 0 5px 0 10px;
}
/* Global Footer and Copyright*/
#global-footer {
  position: relative;
  margin-top: 0 !important;
  /* negative value of footer height */

  height: 120px;
  clear: both;
}
#global-footer #bottom-text ul {
  margin: 0;
}
#global-footer #bottom-text ul li a {
  font-size: 15px;
}
#global-footer p.copyright {
  color: #e3dfd5;
  padding: 0 15px;
  font-size: 13px;
}
#global-footer p.timestamp {
  text-transform: uppercase;
}
h1 {
  margin-bottom: 20px;
}
h2 {
  color: #820000;
  font-size: 1.6em;
}
#mainmenu {
  margin-bottom: 30px;
}
#main-content > hr {
  margin-top: 0;
}
#main-content a {
  text-decoration: none;
}
#main-content a:hover,
#main-content a:active {
  text-decoration: underline;
}
#main-content .nav {
  background-color: #fbfbf9;
}
.nav-pills > li {
  margin: 0 .3em 1em 0;
}
.nav-pills > li > a {
  text-decoration: none;
  border: 1px solid #e3dfd5;
  background-color: #f2f1eb;
  padding: .4em .9em;
  text-transform: uppercase;
}
.nav-pills > li > a.active {
  border: 1px solid #8c1515;
  background-color: #8c1515;
  color: white;
}
.nav-pills > li > a:hover {
  border: 1px solid #9d9573;
}
#sort-options {
  margin-top: 1em;
}
#sort-options .active {
  font-weight: 600;
  color: #820000;
}
#sort-options a {
  cursor: pointer;
}
#sidebar-second .btn {
  margin-bottom: 15px;
}
.list-content {
  list-style: none;
  padding-left: 40px;
}
.list-content li {
  margin-bottom: 1em;
  font-size: 1.3em;
}
.list-content li[data-school=""],
.list-content li[data-subject=""] {
  background-color: #FFDDBB;
}
#list-alpha > div {
  display: table;
  margin-bottom: 10px;
}
.list-pull-heading,
.list-content {
  display: table-cell;
}
.list-pull-heading h6 {
  font-size: 2em;
  color: #820000;
  min-width: 1em;
}
#list-school {
  display: none;
}
#list-school h3 {
  margin: 1.5em 0 0.75em;
}
#list-school h3:first-of-type {
  margin-top: 0;
}
#list-school h3 a {
  color: #820000;
}
#list-school ul {
  padding-left: 20px;
}
