// All UComm less files should include this
@import "_less.less";

//////////////////////////
// phone
@media (max-width: @screen-xs-max) {
  .size-detect-xs { display: inline; }

  .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-xs-6:nth-child(odd){clear:left;}

  body {
    padding: 0;
  }

  #header .container {
    padding: 0 10px;
  }

  #body .container {
    padding: 0 20px;
  }

  #body .container:first-child {
    padding: 0;
  }

  #logo {
    max-width: 300px;
  }

  #search-form {

    .btn-search {
      width: 22px;
      height: 22px;
      top: 5px;
      right: 5px;
    }
  }

  #footer {
    .container {
      padding: 0 20px !important;
    }

    ul.footer-list {
      margin-bottom: 25px;

      li {
        font-size: 1.3em;
        margin-bottom: 10px;
      }
    }

    .block h3 {
      border-bottom: 1px solid @su-red;
      margin-bottom: 10px;
      padding-bottom: 5px;
      font-size: 1.1em;
    }

    #global-footer {
      p.copyright {
        padding: 15px 0;
      }
    }
  }
} // @media (max-width: @screen-xs-max)


//////////////////////////
// phone, tablet
@media (max-width: @screen-sm-max) {
  .container {
    padding: 0 15px; // put 15px padding back on left and right
  }

  body.home #nav-home a, body.nav-1 #nav-1 a,
  body.nav-2 #nav-2 a, body.nav-3 #nav-3 a,
  body.nav-4 #nav-4 a, body.nav-5 #nav-5 a,
  body.nav-6 #nav-6 a {
    color: @su-red-text;
    border-bottom: none;
  }

} // @media (max-width: @screen-sm-max)


//////////////////////////
// tablet and larger
@media (min-width: @screen-sm-min) {

  #global-footer {
    #bottom-text {
      margin-top: 2px;

      ul {

        li {
          margin:0 15px 3px 0;
          padding:0;
          display:inline-block;
          line-height: 1.5;

          &:last-of-type {
            margin-right: 0;
          }
        }
        &#policy-links {
          li {
            a {
              font-weight: 300;
              font-size: unit( round( (13 / 14), 5 ), em ); // 13px expressed as em's
            }
          }
        }
      }

      p.copyright {
        font-weight: 300;
        line-height: 1.5;
      }
    }
  }

} // @media (min-width: @screen-sm-min)


//////////////////////////
// tablet only
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .size-detect-sm { display: inline; }

  .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-sm-6:nth-child(odd){clear:left;}

  #footer-3 {
    clear: both;
  }

  #global-footer {
    #bottom-logo {
      margin-top: 5px;
    }

    #bottom-text {
      text-align: center;

      ul {
        margin-bottom: .5em;

        &#primary-links {
          li {
            a {
              font-size: 1.075em; // 15px expressed as em's
            }
          }
        }
        &#policy-links {
          li {
            a {
              font-size: 0.93em; // 13px expressed as em's
            }
          }
        }
      }

      p.copyright {
        padding-top: 2px;
      }
    }
  }
} // @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max)


//////////////////////////
// desktop
@media (min-width: @screen-md-min) {

  .two-column {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
  }

  // highlight active nav item
  body.home #nav-home a, body.nav-1 #nav-1 a,
  body.nav-2 #nav-2 a, body.nav-3 #nav-3 a,
  body.nav-4 #nav-4 a, body.nav-5 #nav-5 a,
  body.nav-6 #nav-6 a {
    border-bottom: 2px solid @su-red;
  }

  #global-footer {
    #bottom-text {
      ul {
        margin-bottom: .2em;
      }
      p.copyright {
        text-align: left;
      }
    }
  }

} // @media (min-width: @screen-md-min)


//////////////////////////
// small desktop
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  .size-detect-md { display: inline; }

  .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-md-6:nth-child(odd){clear:left;}

  #global-footer {
    #bottom-text{
      ul {
        &#primary-links {
          li {
            a {
              font-size: 1.143em; // 17px expressed as em's
            }
          }
        }
        &#policy-links {
          li {
            a {
              font-size: 1.0083em; // 15px expressed as em's
            }
          }
        }
      }

      p.copyright {
        font-size: 1.07143em; // 15px expressed as em's
      }
    }
  }
} // @media (min-width: @screen-md-min) and (max-width: @screen-md-max)


//////////////////////////
// big desktop
@media (min-width: @screen-lg-min) {
  .size-detect-lg { display: inline; }

  .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-lg-6:nth-child(odd){clear:left;}

  #global-footer {
    #bottom-text{
      ul {
        &#primary-links {
          li {
            a {
              font-size: 1.2125em; // 18px expressed as em's
            }
          }
        }
        &#policy-links {
          li {
            a {
              font-size: 1.075em; // 16px expressed as em's
            }
          }
        }
      }

      p.copyright {
        font-size: 1.15em; // 16px expressed as em's
      }
    }
  }
} // @media (min-width: @screen-lg-min)
