/////////////////////////////////
// Bootstrap variables and mixins
@import "../bootstrap/less/variables.less"; //for some reason the compiler was yelling about specificity here.
@import "mixins.less";


/////////////////////////////////
// UComm variables
@border-color: #E3DFD5;
@btn-txt: @su-clay;
@heading-weight: 300;


/////////////////////////////////
// UComm mixins
.font-size-em (@target-px, @base-px:@font-size-base) {
  font-size: unit( round( (unit(@target-px) / unit(@base-px)), 5 ), em );
}

.line-height (@target-px, @base-px:@font-size-base) {
  line-height: round( (unit(@target-px) / unit(@base-px)), 5 );
}

.margin-bottom (@margin) {
  margin-bottom: unit(@margin, px);
  clear: both;
}

.center-vertical (@position:relative) {
  position: @position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.center-horizontal (@position:relative) {
  position: @position;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.center-both (@position:relative) {
  position: @position;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.bottom-right-text {
  content: "";
  position: absolute;
  bottom: 0.8em;
  right: 1.2em;
  color: #820000;
  font-family: "Source Serif Pro";
  font-size: 0.9em;
  letter-spacing: .05em;
  text-transform: uppercase;
}

.small-square { // for li's - use a small clay square as the bullet
  color: @su-clay;
  position: absolute;
  top: 0;
  margin: 0 0 0 -15px;
  content: '\25AA';
}

.su-btn (@bg, @fg:white, @border:darken(@bg,5%), @bg-hover:lighten(@bg,5%), @fg-hover:@fg, @border-hover:@border) {
  background-color: @bg;
  border-color: @border;
  color: @fg;

  &:hover, &:focus, &:active {
    background-color: @bg-hover;
    border-color: @border-hover;
    color: @fg-hover;
  }

  a {
    color: @fg;

    &:hover, &:focus, &:active {
      background-color: @bg-hover;
      border-color: @border-hover;
      color: @fg-hover;
    }
  }
}

.background-gradient (@start, @stop) {
    background: mix(@start, @stop, 50%);
    background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@stop));
    background: -webkit-linear-gradient(top, @start, @stop);
    background:    -moz-linear-gradient(top, @start, @stop);
    background:      -o-linear-gradient(top, @start, @stop);
    background:         linear-gradient(to bottom, @start, @stop);
}

// Webkit-style focus
.tab-focus() {
  // Default
  outline: 2px solid @su-clay;
  text-decoration: none;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

///////////////////////////////
// Modular Type Scale
//                  | Base | xs  | sm  | md  | lg  |
//               p: | 16   | 17  | 16  | 17  | 17  |
//     Line Height: | 22   | 26  | 24  | 28  | 27  |

//              h1: | 48   | 32  | 40  | 48  | 48  |
//     Line Height: | 50   | 40  | 45  | 52  | 50  |

//              h2: | 36   | 26  | 32  | 36  | 36  |
//     Line Height: | 46   | 30  | 36  | 45  | 42  |

//              h3: | 28   | 22  | 24  | 28  | 28  |
//     Line Height: | 35   | 24  | 36  | 36  | 35  |

//              h4: | 18   | 18  | 18  | 18  | 18  |
//     Line Height: | 22   | 20  | 20  | 22  | 22  |

//              h5: | 17   | 17  | 16  | 17  | 17  |
//     Line Height: | 22   | 26  | 24  | 28  | 27  |

//              h6: | 17   | 17  | 16  | 17  | 17  |
//     Line Height: | 22   | 26  | 24  | 28  | 27  |


// Base responsive paragraph
.responsive-base-text() {
  //                  | Base | xs  | sm  | md  | lg  |
  //               p: | 16   | 17  | 16  | 17  | 17  |
  //     Line Height: | 22   | 26  | 24  | 28  | 27  |

  //////////////////////////
  // phone
  @media (max-width: @screen-xs-max) {
    font-size: 1.0625em; // 17px
    line-height: 1.52941em; // 17 * 1.52941 = 26px
    margin-bottom: 0.764705em; // 13 / 17 = 13px
  } // @media (max-width: @screen-xs-max)
  //////////////////////////
  // tablet only
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    font-size: inherit; //inherits font size from body. in this case, 16px
    line-height: 1.5em; // 24px
    margin-bottom: .75em; // 12px

  } // @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max)
  //////////////////////////
  // small desktop
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    font-size: 1.0625em; // 17px
    line-height: 1.64706em; // 28px;
    margin-bottom: .82353em; // ~14px;
  } // @media (min-width: @screen-md-min) and (max-width: @screen-md-max)
  //////////////////////////
  // big desktop
  @media (min-width: @screen-lg-min) {
    font-size: 1.0625em; // 17px
    line-height: 1.588235em; // 27px
    margin-bottom: .79412em; // ~13.5px
  } // @media (min-width: @screen-lg-min)
}

.responsive-small-text {

}

.responsive-large-text {

}