@import "_less.less";

.panel.panel-card {

  backface-visibility: hidden;
  perspective: 1000px;

  .card-content {

    a {
      color: @su-red-text;
      text-decoration: underline;
    }

    .btn a {
      color: #fff;
    }

    > *:last-child {
      margin-bottom: 0;
    }

  }

  //////////////////////////
  // phone, tablet
  @media (max-width: @screen-xs-max) {
    .card-content {
      img {
        width: auto;
        height: auto;
      }
    }
  } // @media (max-width: @screen-sm-max)

}

// Only for Masonry Highlight panels
.masonry-highlight {

  .panel.panel-card {
    padding: 0 0 1.2em 0;

    .card-content {
      padding: 0;

      .meta {
        padding: 16px 20px;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: .03em;
        background: #eee;
        color: #000;
      }

      p {
        padding: 0 20px;
      }

      h3 {
        padding-top: 10px;
      }

      h3, h4, h5, h6, ul, ol {
        padding-left: 20px;
        padding-right: 20px;
      }

      div {
        padding: 0 20px;

        &.embed-container {
          padding-bottom: 56.25%;
          width: ~"calc(100% - 40px)";
          margin: 0 auto;
        }

        &.btn {
          margin-left: 20px;
          max-width: ~"calc(100% - 40px)";
        }

        p {
          padding: 0;
        }
      }
    }

    .card-photo {
      margin-top: 22px;
      padding-right: 20px;
      padding-bottom: 6px;

      @media (max-width: @screen-xs-max) {
        padding-right: 20px!important;
      }
    }
  }
}