@import "_less.less";
@import "_page-responsive.less";

.page,
.archive,
.blog {
  h1 {
    margin-bottom: .7em;
    font-family: @font-family-serif;
    color:@su-red;
    font-size:2.2em;
    border-bottom:1px solid @su-beige-40;
  }
  h2 {
    color: @su-red;
    font-family: @font-family-serif;
    .font-size-em(24; 18);
    //background: @su-beige-20;
    padding: 5px;
    margin-left: -5px;
    margin-bottom: .5em;
    border-bottom: 1px solid @su-beige-40;
  }
  p{
    color: @su-black;
    .font-size-em(16; 16);
    line-height: 1.4;
    margin-top: .1em;
    &.lead{
      margin-bottom:3em;
      font-weight:inherit;
    }
  }

  .card.list-item {
    min-height: 140px;
  }

  section {
    margin-bottom:2em;
    ul{
      list-style-type: none;
      padding:0;
      margin:0;
      li{
        line-height:1.7;
      }
    }
    h3{
      a{
        font-size: @font-size-base;
        font-weight: 700;
        color: black;
        text-decoration: underline;
      }
    }
  }

  .sidebar {
    .infobox {
      margin-bottom: 2em;
      .story-supplement-content {
        padding: 1em 0;
        h2 {
          padding: 0 1em;
        }
      }
    }
    section:first-of-type {
      margin-top: 0;
    }
    section#sections {
      ul {
        li {
          margin-bottom: 0;

          a {
            font-weight: normal;
          }
        }
      }
    }
  }

  .classifieds {
    h2{
      border:none;
      font-family: @font-family-sans-serif;
      color:@su-black;
      font-size:1.6em;
      margin-bottom:.2em;
    }
    h3{
      font-weight:700;
      font-size:1.1em;
    }
  }
  .source-label{
    padding-bottom:.5em;
    display:inline-block;
  }

  .btn {
    a {
      display: inline-block;
      width: 100%;
      color: white;
      font-weight: normal;
      text-decoration: none;
    }
    &.btn-light,
    &.btn-category {
      a {
        color: @su-black;
      }
      &:hover {
        a {
          color: white;
        }
      }
    }
    .pull-right {
      .fa {
        margin-right: 5px;
      }
    }
    .pull-right {
      .fa {
        margin-left: 5px;
      }
    }
  }

  #page-nav {
    .btn {
      width: 100%;
      padding: 0;
      a {
        display: block;
        padding: 0.75em;
      }
    }
  }

  // Styles for Find Stories page
  #find-search {
    width: 80%;
    padding: .3em;
  }

  .search-or {
    p {
      text-align: center;
      font-size: 2em;
      line-height: 2;
    }
  }

  .datepicker {
    input {
      width: 100px;
    }
  }

  // Search / Find a Story styles //
  .find-stories {
    section {
      margin-top: 2em;

      ul {
        list-style-type: none;
        padding-left: 0;
        margin: 0;

        li {
          display: inline-block;
          width: 220px;
          padding-left: 0;
          margin-left: 0;
          margin-bottom: .6em;
          font-size: 18px;
          line-height: 2em;

          a {
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          .section-icon {
            padding-right: 1em;
          }
        }
        }

        li::before {
          content: "";
          font-family: FontAwesome;
          font-size: 13px;
          margin: 0 10px 0 0;
        }
      }
    }

  }
}
