@import "_less.less";
@import "_page-responsive.less";

//TODO: Look at these sizes in responsive contexts

.page,
.archive,
.blog,
.error404 {
  h1 {
    color:@su-red;
    font-size:2.2em;
    border-bottom:1px solid @su-beige-40;
    text-transform: capitalize;
  }
  h2 {
    color: @su-red;
    .font-size-em(24; 18);
    padding: 5px;
    margin-left: -5px;
    border-bottom: 1px solid @su-beige-40;
  }
  p {
    color: @su-black;
  }

  .lead {
    font-family: @font-family-serif;
    font-size: 1.125em;
  }

  section {
    margin-bottom:2em;
    ul{
      list-style-type: none;
    }
    h3{
      margin-bottom: 0;

      &:first-of-type {
        margin-top: 0;
      }
      a{
        font-size: @font-size-base;
        font-weight: 700;
        color: black;
        text-decoration: underline;
      }
    }
  }

  .sidebar {
    .infobox {
      margin-bottom: 2em;
      .story-supplement-content {
        padding: 1em 0;
        h2 {
          padding: 0 1em;
        }
      }
    }
    section:first-of-type {
      margin-top: 0;
    }
    section#sections {
      ul {
        li {
          margin-bottom: 0;

          a {
            font-weight: normal;
          }
        }
      }
    }
  }

  .classifieds {
    h2{
      border:none;
      font-family: @font-family-sans-serif;
      color:@su-black;
      font-size:1.6em;
      margin-bottom:.2em;
    }
    h3{
      font-weight:700;
      font-size:1.1em;
    }
  }
  .source-label{
    padding-bottom:.5em;
    display:inline-block;
  }

  #page-nav {
    .btn {
      width: 100%;
    }
  }

  // Styles for Find Stories page
  #find-search {
    width: 80%;
    padding: .3em;
  }

  .search-or {
    p {
      text-align: center;
      font-size: 2em;
      line-height: 2;
    }
  }

  .datepicker {
    input {
      width: 100px;
    }
  }

  // Search / Find a Story styles //
  .find-stories {
    section {
      margin: 1em 0;

      ul {
        list-style-type: none;
        padding-left: 0;
        margin: 0;

        li {
          font-size: 18px;
          line-height: 1.2;
          list-style-image: none;
          padding: 0.4em 0;

          &#spotlight {
            display: block;
            width: 100%;
            border-bottom: 1px solid @su-beige-30;
          }

          a {
            text-decoration: none;
            font-weight: normal;
            &:after {
              content: "\f101";
              font-family: FontAwesome;
              font-size: 0.9em;
              font-weight: 200;
              margin-left: 0.6em;
            }
            &:hover {
              text-decoration: underline;
            }
            .section-icon {
              padding-right: 1em;
            }
          }
        }
      }
    }

  }


  // Press release archive page
  .pr-archive {
    a {
      font-weight: normal;
      text-decoration: underline;
    }
    #release-list {
      h2 {
        margin-top: 2em;
      }
      h3 {
        font-size: 1.28571em;
        margin: 1em 0 0.25em;
      }
      p.distribution {
        margin: 0;
        span {
          margin: 0 0.5em 0 1em;
          font-size: 1.5em;
        }
      }
      #page-nav {
        margin-top: 3em;
      }
    }
    .sidebar {
      #find-search {
        width: 75%;
      }
    }
  }
}
