@import "base.less";


h1 {
	margin-bottom: 20px;
}
h2 {
	color: @su-red-text;
	font-size: 1.6em;
}

#mainmenu {
	margin-bottom: 30px;
}

#main-content {

  ul {
    list-style: none;

    li {
      position: relative;
      line-height: 1.1em;
      margin-bottom: 7px;
      font-size: 1.1em;
  
      &:before {
        .small-square;
      }
      a {
	      text-decoration: none;
        &:hover, &:active {
		      text-decoration: underline;
		  }
      }
    } // li
  } // ul

  .postcard-image {
    width: 170px;
  
    img {
      width: 100%;
      border-bottom: 3px solid @su-beige-60;
      padding-bottom: 2px;
    }
  }
  .postcard-text {
    vertical-align: top;
    padding-top: 10px;
    padding-left: 20px;
  }
} //#main-content
  
#sidebar-first {
    ul {
      padding-left: 0;
  
      li {
         border-bottom: 1px solid @su-beige-30;
         padding: 10px 0;
         a {
	         text-decoration: none;
         }
      }
    }
} //#sidebar-first
  

#sidebar-second {
  .btn {
    margin-bottom: 15px;
  }
}

#hero-image {
  position: relative;
  
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: @su-beige-05;
    padding: @padding-base-vertical @padding-base-horizontal;
    background-color: rgba(46, 45, 45, .4);
    .opacity(0);
    transition: all .3s linear;
  }
  &:hover .caption {
    .opacity(1);
  }
}